@charset "UTF-8";
:root {
  --color-background: white;
  --color-major: #3C70C6;
  --color-minor: #FFD700;
  --len-margin: 10px;
  --len-bar: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Serif 4", "Segoe UI", source-han-serif-sc, source-han-serif-tc, "Source Han Serif", SimSun, serif;
  font-size: 16px;
}

.side-vertical {
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.side-vertical p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.side-vertical p span {
  letter-spacing: 2px;
  font-size: 16px;
}

.scrollbar-hidden {
  height: inherit;
  width: inherit;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.fade-out-left {
  position: absolute;
  top: 0;
  right: 80%;
  width: 20%;
  height: 100%;
  background: linear-gradient(to left, transparent, white);
  pointer-events: none;
}

.fade-out-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, transparent, white);
  pointer-events: none;
}

.fade-out-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, transparent, white);
  pointer-events: none;
}

.giscus {
  padding-top: 80px;
}

#nav-mobile {
  background-color: var(--color-background);
  width: 100%;
  height: var(--len-bar);
  position: fixed;
  bottom: 0;
  transition: bottom 0.3s;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-mobile a {
  color: black;
  text-decoration: none;
}

.nav-mobile-item {
  display: inline-block;
  width: 20%;
  text-align: center;
  text-justify: center;
  text-decoration: none;
}

.nav-mobile-avatar {
  display: block;
  position: absolute;
  left: calc(50% - 30px);
  bottom: calc(50% - 30px);
  height: 60px;
  width: 60px;
  background-image: url("/blog/assets/img/before_h2.png");
  background-size: cover;
  border-radius: 50%;
}

.left-avatar {
  height: 80px;
  margin-top: var(--len-margin);
  margin-bottom: 40px;
  position: sticky;
  top: var(--len-margin);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

#avatar {
  height: 60px;
  width: 60px;
  background-image: url("/blog/assets/img/before_h2.png");
  background-size: cover;
  border-radius: 50%;
}

#sitename {
  height: 20px;
  text-align: center;
}

.left-quote {
  height: calc(100vh - 130px - 170px - 40px);
  width: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 130px;
}

.left-footer {
  display: -webkit-flex;
  display: flex;
  height: 160px;
  width: inherit;
  margin-top: var(--len-margin);
  position: sticky;
  top: calc(100vh - 160px);
}
.left-footer p {
  font-size: 14px;
}

#social-icons {
  color: var(--color-major);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#social-icons a {
  color: var(--color-major);
  text-decoration: none;
  font-size: 16px;
  margin: 5px 0;
}

#header {
  background-color: white;
  width: inherit;
  height: var(--len-bar);
  position: fixed;
  top: 0;
  transition: top 0.3s;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 65px;
}

#toc-button {
  width: var(--len-bar);
  height: inherit;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.changable-icon {
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-background);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  margin: 0;
  background-color: gray;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 13.5px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -13.5px) rotate(45deg);
}

.changable-icon:hover, .changable-icon:focus {
  background-color: var(--color-major);
}
.changable-icon:hover .bar1, .changable-icon:hover .bar2, .changable-icon:hover .bar3, .changable-icon:focus .bar1, .changable-icon:focus .bar2, .changable-icon:focus .bar3 {
  background-color: var(--color-background);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: var(--len-bar);
  right: 0;
  white-space: nowrap;
  height: calc(100vh - var(--len-bar));
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

.toc-link {
  display: block;
  text-decoration: none;
  color: var(--color-major);
  padding: 0.2em 0;
  align-items: center;
  font-size: 0.9rem;
}

.toc-link:hover {
  font-weight: bold;
  color: var(--color-background);
  background-color: var(--color-major);
}

.show {
  display: block;
}

#title-banner {
  margin-top: var(--len-bar);
}

main {
  margin-bottom: 3rem;
}

#author-card {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

#author-avatar {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0.75em;
}

#author-texts p {
  padding-top: 0;
}

#toc-side {
  height: fit-content;
}

.toc-h1, .toc-h2, .toc-h3 {
  margin: 0.5em 0;
  list-style-type: none;
}

.toc-h1:before {
  content: "";
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 0.25em;
  height: 1em;
  width: 1em;
  background-image: url("/blog/assets/img/before_h1.png");
  background-size: cover;
}

.toc-h2::before {
  content: "";
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 0.25em;
  height: 1em;
  width: 1em;
  background-image: url("/blog/assets/img/before_h2.png");
  background-size: cover;
}

.toc-h3:before {
  content: "";
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 0.25em;
  height: 18px;
  width: 18px;
  background-image: url("/blog/assets/img/before_h3.png");
  background-size: cover;
}

#right-nav-container {
  margin-top: var(--len-margin);
  margin-bottom: calc(2 * var(--len-margin));
}

.right-nav-button {
  height: var(--len-bar);
  width: 100%;
  color: black;
  text-decoration: none;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-nav-text {
  font-size: 20px;
  margin-left: 0.5em;
  white-space: nowrap;
}

#layout-all {
  display: -webkit-flex;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

#layout-left {
  box-sizing: border-box;
  height: inherit;
  padding-right: var(--len-margin);
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

#layout-mid {
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  padding: 0 var(--len-margin);
}

#layout-right {
  box-sizing: border-box;
  height: inherit;
  padding-left: var(--len-margin);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

#right-top {
  box-sizing: border-box;
  width: inherit;
  height: calc(100vh - 200px - 3 * var(--len-margin));
  position: sticky;
  top: 0;
}

#right-bottom {
  box-sizing: border-box;
  width: inherit;
  height: calc(200px + 3 * var(--len-margin));
  position: sticky;
  top: calc(100vh - 200px - 3 * var(--len-margin));
}

@media (min-width: 600px) {
  #layout-all {
    justify-content: flex-start;
  }
  #layout-mid {
    width: 600px;
  }
}
@media (min-width: 640px) {
  * {
    font-size: 17px;
  }
  #nav-mobile {
    display: none;
  }
  #layout-left {
    display: -webkit-flex;
    display: flex;
    width: calc(100% - 640px);
  }
  #layout-right {
    display: -webkit-flex;
    display: flex;
    width: 40px;
  }
}
@media (min-width: 768px) {
  #layout-left {
    width: 128px;
  }
  #layout-right {
    width: calc(100vw - 738px);
  }
}
@media (min-width: 1122px) {
  * {
    font-size: 18px;
  }
  #layout-mid {
    width: calc(100vw - 512px);
  }
  #layout-right {
    width: 384px;
  }
}
@media (min-width: 1280px) {
  * {
    font-size: 19px;
  }
  #layout-mid {
    width: 768px;
  }
  #layout-all {
    justify-content: space-evenly;
  }
}
.written {
  line-height: 1.6;
  letter-spacing: 0.034em;
  word-break: all;
}

.written p {
  padding-top: 0.75em;
  padding-bottom: 0.25em;
  line-height: 1.6em;
}

/* 一级标题 */
.written h1 {
  font-size: 1.6rem;
  color: black;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* 一级标题修饰 请参考有实例的主题 */
.written h1:before {
  content: "";
  display: inline-block;
  margin-bottom: -0.1em;
  width: 1em;
  height: 1em;
  background-image: url("/blog/assets/img/before_h1.png");
  background-size: cover;
}

/* 二级标题 */
.written h2 {
  display: block;
  font-size: 1.3rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.8em;
  color: rgb(60, 112, 198);
}

/*二级标题伪元素*/
.written h2:before {
  content: "";
  display: inline-block;
  margin-bottom: -0.1em;
  margin-right: 0.5rem;
  width: 1em;
  height: 1em;
  background-image: url("/blog/assets/img/before_h2.png");
  background-size: cover;
}

/* 三级标题 */
.written h3 {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75em;
  color: rgb(60, 112, 198);
  padding-top: 1em;
}

/* 三级标题 */
.written h3:before {
  content: "";
  display: inline-block;
  margin-bottom: -0.1em;
  margin-right: 0.5rem;
  width: 1em;
  height: 1em;
  background-image: url("/blog/assets/img/before_h3.png");
  background-size: cover;
}

/* 列表内容 */
.written li {
  list-style-position: inside;
  margin-left: 1em;
}

/* 引用
 * 左边缘颜色 border-left-color:black;
 * 背景色 background:gray;
 */
.written blockquote {
  margin: 8px 10px 8px 10px;
  padding: 7px 10px 7px 10px;
  line-height: 27px;
  background-color: rgb(239, 239, 239);
  border-left: none;
  display: block;
}

/* 引用文字 */
.written blockquote p {
  padding: 0px;
  color: rgb(89, 89, 89);
}

/* 链接 */
.written a {
  color: rgb(60, 112, 198);
  text-decoration: none;
  border-bottom: 1px solid rgb(60, 112, 198);
}

/* 加粗 */
.written strong {
  line-height: 1.75em;
  color: rgb(74, 74, 74);
}

/* 斜体 */
.written em {
  text-decoration: underline;
}

/* 加粗斜体 */
.written em strong {
  color: rgb(248, 57, 41);
  letter-spacing: 0.3em;
}

/* 删除线 */
/* 分割线 */
.written hr {
  height: 1px;
  margin-top: 0.75em;
  padding: 0;
  border: none;
  text-align: center;
  background-image: linear-gradient(to right, rgba(60, 122, 198, 0), rgba(60, 122, 198, 0.75), rgba(60, 122, 198, 0));
}

/* 图片 */
.written img {
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 98%;
}

/* 图片描述文字 */
.written figcaption {
  display: block;
  font-size: 12px;
  font-family: PingFangSC-Light;
}

/* 行内代码 */
.written p code, .written li code {
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: rgba(27, 31, 35, 0.05);
  color: rgb(60, 112, 198);
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  font-size: 0.875em;
  word-break: break-all;
}

/* 非微信代码块
 * 代码块不换行 display:-webkit-box !important;
 * 代码块换行 display:block;
 */
.written pre {
  margin-top: 0.375rem;
  padding: 0.625rem;
  padding-bottom: calc(0.625rem + 1em);
  border-radius: 4px;
  background-color: rgba(27, 31, 35, 0.05);
  overflow-x: scroll;
}
.written pre code {
  color: #383a42;
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  font-size: 0.9em;
}

/* 表格内的单元格
 * 字体大小 font-size: 16px;
 * 边框 border: 1px solid #ccc;
 * 内边距 padding: 5px 10px;
 */
.written table tr th,
.written table tr td {
  font-size: 14px;
}

.written .footnotes {
  padding-top: 8px;
}

/* 脚注文字 */
.written .footnote-word {
  color: rgb(60, 112, 198);
}

/* 脚注上标 */
.written .footnote-ref {
  color: rgb(60, 112, 198);
}

/* 脚注超链接样式 */
.written .footnote-item em {
  color: rgb(60, 112, 198);
  font-size: 13px;
  font-style: normal;
  border-bottom: 1px dashed rgb(60, 112, 198);
}

/* "参考资料"四个字 
 * 内容 content: "参考资料";
 */
.written .footnotes-sep:before {
  background-image: none;
  display: block;
  width: auto;
  height: auto;
}

/* 参考资料编号 */
.written .footnote-num {
  color: rgb(60, 112, 198);
}

/* 参考资料文字 */
.written .footnote-item p {
  color: rgb(60, 112, 198);
  font-weight: bold;
}

/* 参考资料超链接 */
.written .footnote-item a {
  color: rgb(60, 112, 198);
}

/* 参考资料解释 */
.written .footnote-item p em {
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px dashed rgb(60, 112, 198);
}

/* 行间公式
 * 最大宽度 max-width: 300% !important;
 */
/* 行内公式*/
/* 滑动图片
 */
.written .imageflow-img {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
}

table {
  margin: 1em 0;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #444;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #ffcc00;
}
td:first-child {
  border-left: 1px solid #ffcc00;
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fafafa;
  margin-bottom: 15px;
}
.highlight span {
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  font-size: 1em;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url("/blog/assets/font/MaterialSymbolsOutlined.ttf") format("ttf");
  src: url("/blog/assets/font/MaterialSymbolsOutlined.woff2") format("woff2");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 30px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@font-face {
  font-family: "NViconsLib2";
  src: url("/blog/assets/font/NViconsLib2.eot");
  src: url("/blog/assets/font/NViconsLib2.eot") format("embedded-opentype"), url("/blog/assets/font/NViconsLib2.ttf") format("truetype"), url("/blog/assets/font/NViconsLib2.woff") format("woff"), url("/blog/assets/font/NViconsLib2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  font-family: "NViconsLib2";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CN_15yan:before {
  content: "\e601";
}

.icon-CN_115:before {
  content: "\e602";
}

.icon-CN_acfuntv:before {
  content: "\e603";
}

.icon-CN_aikume:before {
  content: "\e604";
}

.icon-CN_Alibabai:before {
  content: "\e605";
}

.icon-CN_Alibabai_Alipay:before {
  content: "\e606";
}

.icon-CN_Alibabai_Aliyun:before {
  content: "\e607";
}

.icon-CN_Alibabai_Laiwang:before {
  content: "\e608";
}

.icon-CN_appinncom:before {
  content: "\e609";
}

.icon-CN_baidu:before {
  content: "\e60a";
}

.icon-CN_baidu_pan:before {
  content: "\e60b";
}

.icon-CN_baidu_shouji:before {
  content: "\e60c";
}

.icon-CN_baidu_tieba:before {
  content: "\e60d";
}

.icon-CN_bilibili:before {
  content: "\e60e";
}

.icon-CN_bilibili_B:before {
  content: "\e60f";
}

.icon-CN_cnblogs:before {
  content: "\e610";
}

.icon-CN_codingnet:before {
  content: "\e611";
}

.icon-CN_coolapkcom_CoolMarket:before {
  content: "\e612";
}

.icon-CN_csdnnet:before {
  content: "\e613";
}

.icon-CN_dewenio:before {
  content: "\e614";
}

.icon-CN_dgtlecom:before {
  content: "\e615";
}

.icon-CN_diandian:before {
  content: "\e616";
}

.icon-CN_douban:before {
  content: "\e617";
}

.icon-CN_douban_artists:before {
  content: "\e618";
}

.icon-CN_douban_B:before {
  content: "\e619";
}

.icon-CN_douban_FM:before {
  content: "\e61a";
}

.icon-CN_douban_group:before {
  content: "\e61b";
}

.icon-CN_douban_movie:before {
  content: "\e61c";
}

.icon-CN_ituring:before {
  content: "\e61d";
}

.icon-CN_douban_Read:before {
  content: "\e600";
}

.icon-CN_duitang:before {
  content: "\e61e";
}

.icon-CN_goldxituio:before {
  content: "\e61f";
}

.icon-CN_guokr:before {
  content: "\e620";
}

.icon-CN_hexieshecom:before {
  content: "\e621";
}

.icon-CN_huaban:before {
  content: "\e622";
}

.icon-CN_Huawei_dbank:before {
  content: "\e623";
}

.icon-CN_hujiang:before {
  content: "\e624";
}

.icon-CN_jianshu:before {
  content: "\e625";
}

.icon-CN_kingsoft_wps_office:before {
  content: "\e626";
}

.icon-CN_meile:before {
  content: "\e627";
}

.icon-CN_mknote:before {
  content: "\e628";
}

.icon-CN_mokocc:before {
  content: "\e629";
}

.icon-CN_momo:before {
  content: "\e62a";
}

.icon-CN_mopcom:before {
  content: "\e62b";
}

.icon-CN_mtimecom:before {
  content: "\e62c";
}

.icon-CN_NetEase_lofter:before {
  content: "\e62d";
}

.icon-CN_NetEase_music:before {
  content: "\e62e";
}

.icon-CN_NetEase_weibo:before {
  content: "\e62f";
}

.icon-CN_NetEase_youdao_note:before {
  content: "\e630";
}

.icon-CN_papame:before {
  content: "\e631";
}

.icon-CN_Qihoo_360_sj:before {
  content: "\e632";
}

.icon-CN_Qihoo_360_yunpan:before {
  content: "\e633";
}

.icon-CN_Qihoo_360_yunpan_nwe:before {
  content: "\e634";
}

.icon-CN_qngoocom:before {
  content: "\e635";
}

.icon-CN_renren:before {
  content: "\e636";
}

.icon-CN_renren_xiaozhan:before {
  content: "\e637";
}

.icon-CN_sina_weibo:before {
  content: "\e638";
}

.icon-CN_sina_weibo_vdisk:before {
  content: "\e639";
}

.icon-CN_Sohu_kan:before {
  content: "\e63a";
}

.icon-CN_taobao:before {
  content: "\e63b";
}

.icon-CN_taobao_wangwang:before {
  content: "\e63c";
}

.icon-CN_tencent:before {
  content: "\e63d";
}

.icon-CN_tencent_pengyou:before {
  content: "\e63e";
}

.icon-CN_tencent_QQ:before {
  content: "\e63f";
}

.icon-CN_tencent_QQ_music:before {
  content: "\e640";
}

.icon-CN_tencent_qzone:before {
  content: "\e641";
}

.icon-CN_tencent_tmyapp:before {
  content: "\e642";
}

.icon-CN_tencent_video:before {
  content: "\e643";
}

.icon-CN_tencent_wechat:before {
  content: "\e644";
}

.icon-CN_tencent_wechat_moments:before {
  content: "\e645";
}

.icon-CN_tencent_weibo:before {
  content: "\e646";
}

.icon-CN_tencent_weibo_B:before {
  content: "\e647";
}

.icon-CN_Tencent_weiyun:before {
  content: "\e648";
}

.icon-CN_tianyacn:before {
  content: "\e649";
}

.icon-CN_tmall:before {
  content: "\e64a";
}

.icon-CN_tuchong:before {
  content: "\e64b";
}

.icon-CN_tudou:before {
  content: "\e64c";
}

.icon-CN_V2EX:before {
  content: "\e64d";
}

.icon-CN_wandoujiacom:before {
  content: "\e64e";
}

.icon-CN_Wiz_note:before {
  content: "\e64f";
}

.icon-CN_xiamicom:before {
  content: "\e650";
}

.icon-CN_xiami_music_app:before {
  content: "\e651";
}

.icon-CN_xianguo:before {
  content: "\e652";
}

.icon-CN_xiaomi:before {
  content: "\e653";
}

.icon-CN_xituio:before {
  content: "\e654";
}

.icon-CN_xunlei:before {
  content: "\e655";
}

.icon-CN_xunlei_B:before {
  content: "\e656";
}

.icon-CN_xunlei_C:before {
  content: "\e657";
}

.icon-CN_yinyuetai:before {
  content: "\e658";
}

.icon-CN_youku:before {
  content: "\e659";
}

.icon-CN_youku_B:before {
  content: "\e65a";
}

.icon-CN_ZAKER:before {
  content: "\e65b";
}

.icon-CN_zhihu:before {
  content: "\e65c";
}

.icon-Design_Behance:before {
  content: "\e65d";
}

.icon-Design_codepen:before {
  content: "\e65e";
}

.icon-Design_deviantart:before {
  content: "\e65f";
}

.icon-Design_deviantart_2014:before {
  content: "\e660";
}

.icon-Design_Dribbble:before {
  content: "\e661";
}

.icon-Design_dropr:before {
  content: "\e662";
}

.icon-Design_Forrst:before {
  content: "\e663";
}

.icon-Design_gameuicn:before {
  content: "\e664";
}

.icon-Design_jaypeg:before {
  content: "\e665";
}

.icon-Design_Loveuicn:before {
  content: "\e666";
}

.icon-Design_pixelapse:before {
  content: "\e667";
}

.icon-Design_Pixiv:before {
  content: "\e668";
}

.icon-Design_poocgcom:before {
  content: "\e669";
}

.icon-Design_shijueme:before {
  content: "\e66a";
}

.icon-Design_uehtmlcom:before {
  content: "\e66b";
}

.icon-Design_uicn:before {
  content: "\e66c";
}

.icon-Design_zcool:before {
  content: "\e66d";
}

.icon-jp_Ameba:before {
  content: "\e66e";
}

.icon-jp_gree:before {
  content: "\e66f";
}

.icon-jp_Hatena_Blog:before {
  content: "\e670";
}

.icon-jp_Hatena_bookmark:before {
  content: "\e671";
}

.icon-jp_Line:before {
  content: "\e672";
}

.icon-jp_mixi:before {
  content: "\e673";
}

.icon-jp_niconico:before {
  content: "\e674";
}

.icon-OS_Android:before {
  content: "\e675";
}

.icon-OS_Apple:before {
  content: "\e676";
}

.icon-OS_Blackberry:before {
  content: "\e677";
}

.icon-OS_LinuxGnome:before {
  content: "\e678";
}

.icon-OS_LinuxRedhat:before {
  content: "\e679";
}

.icon-OS_Linuxubuntu:before {
  content: "\e67a";
}

.icon-OS_Linux:before {
  content: "\e67b";
}

.icon-OS_OSXB:before {
  content: "\e67c";
}

.icon-OS_OSX:before {
  content: "\e67d";
}

.icon-OS_SymbianS60:before {
  content: "\e67e";
}

.icon-OS_Windows:before {
  content: "\e67f";
}

.icon-OS_Xbox:before {
  content: "\e680";
}

.icon-Popular_1x:before {
  content: "\e681";
}

.icon-Popular_500px:before {
  content: "\e682";
}

.icon-Popular_500px_Full:before {
  content: "\e683";
}

.icon-Popular_aim:before {
  content: "\e684";
}

.icon-Popular_app_store_iphone:before {
  content: "\e685";
}

.icon-Popular_Blogger:before {
  content: "\e686";
}

.icon-Popular_box:before {
  content: "\e687";
}

.icon-Popular_box_B:before {
  content: "\e688";
}

.icon-Popular_Delicious:before {
  content: "\e689";
}

.icon-Popular_digg:before {
  content: "\e68a";
}

.icon-Popular_dropbox:before {
  content: "\e68b";
}

.icon-Popular_evernote:before {
  content: "\e68c";
}

.icon-Popular_Facebook:before {
  content: "\e68d";
}

.icon-Popular_Feedly:before {
  content: "\e68e";
}

.icon-Popular_flickr:before {
  content: "\e68f";
}

.icon-Popular_Flipboard:before {
  content: "\e690";
}

.icon-Popular_foursquare:before {
  content: "\e691";
}

.icon-Popular_FriendFeed:before {
  content: "\e692";
}

.icon-Popular_G:before {
  content: "\e693";
}

.icon-Popular_GitHub:before {
  content: "\e694";
}

.icon-Popular_Gmail:before {
  content: "\e695";
}

.icon-Popular_google_drive:before {
  content: "\e696";
}

.icon-Popular_Google_Picasa:before {
  content: "\e697";
}

.icon-Popular_Google_Play:before {
  content: "\e698";
}

.icon-Popular_grooveshark:before {
  content: "\e699";
}

.icon-Popular_IFTTT:before {
  content: "\e69a";
}

.icon-Popular_Instagram:before {
  content: "\e69b";
}

.icon-Popular_Instapaper:before {
  content: "\e69c";
}

.icon-Popular_lastfm:before {
  content: "\e69d";
}

.icon-Popular_linkedin:before {
  content: "\e69e";
}

.icon-Popular_mail:before {
  content: "\e69f";
}

.icon-Popular_medium:before {
  content: "\e6a0";
}

.icon-Popular_Microsoft_Office:before {
  content: "\e6a1";
}

.icon-Popular_Microsoft_Outlook:before {
  content: "\e6a2";
}

.icon-Popular_Microsoft_Zune:before {
  content: "\e6a3";
}

.icon-Popular_onedrive:before {
  content: "\e6a4";
}

.icon-Popular_onenote:before {
  content: "\e6a5";
}

.icon-Popular_Path:before {
  content: "\e6a6";
}

.icon-Popular_Pinterest:before {
  content: "\e6a7";
}

.icon-Popular_Pocket:before {
  content: "\e6a8";
}

.icon-Popular_Quora:before {
  content: "\e6a9";
}

.icon-Popular_Readability:before {
  content: "\e6aa";
}

.icon-Popular_reddit:before {
  content: "\e6ab";
}

.icon-Popular_RSS:before {
  content: "\e6ac";
}

.icon-Popular_Skype:before {
  content: "\e6ad";
}

.icon-Popular_Soundcloud:before {
  content: "\e6ae";
}

.icon-Popular_spotifycom:before {
  content: "\e6af";
}

.icon-Popular_stackoverflow:before {
  content: "\e6b0";
}

.icon-Popular_steam_game:before {
  content: "\e6b1";
}

.icon-Popular_Stumble:before {
  content: "\e6b2";
}

.icon-Popular_Technorati:before {
  content: "\e6b3";
}

.icon-Popular_tumblr:before {
  content: "\e6b4";
}

.icon-Popular_Twitter:before {
  content: "\e6b5";
}

.icon-Popular_Uber:before {
  content: "\e6b6";
}

.icon-Popular_vimeo:before {
  content: "\e6b7";
}

.icon-Popular_vkcom:before {
  content: "\e6b8";
}

.icon-Popular_Wikipedia:before {
  content: "\e6b9";
}

.icon-Popular_Windows_Store_App:before {
  content: "\e6ba";
}

.icon-Popular_WordPress:before {
  content: "\e6bb";
}

.icon-Popular_YouTube:before {
  content: "\e6bc";
}

/*# sourceMappingURL=main.css.map */